<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <canvas class="canvas"></canvas>
    <section class="hero">      
      <div class="hero__name">
        <h1>Jason <span class="hero__name--sub">Hee</span></h1>
        <span class="hero__tag">/&gt;</span>
      </div>
    </section>
    {% comment %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% endcomment %}
    <script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
