<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
        
    {{ content }}

    <footer class="footer">
      <h2 class="footer__title">Thanks for stopping by.</h2>
      <p>Here are a couple of other places where I hang out:</p>
      <ul class="footer__links">
        <li>Github</li>
        <li>Codepen</li>
      </ul>
      <p>You can email me at test@email.com</p>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/noframework.waypoints.min.js"></script>
    <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
