---
layout: posts
---
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 class="post-title wow fadeInUp" itemprop="name headline">{{ page.title }}</h1>
	<p class="post-link wow fadeInUp" data-wow-delay=".15s"><a href="{{ page.link }}" target="_blank">{{ page.link }}</a></p>
	<div class="post-content wow fadeInUp" itemprop="articleBody" data-wow-delay=".3s">
		{{ content }}
	</div>
	
	<div class="screens">
		<figure>
			<div class="drawing drawing--desktop wow fadeInUp" data-wow-duration="2s">
				<img src="{{ page.images.baseUrl }}{{ page.images.desktop.filename }}" alt="{{ page.title }}" title="{{ page.title }}" class="drawing__img drawing__img--hidden">
				{% include drawing-desktop.svg %}
			</div>
		</figure>
		<figure>
			<div class="drawing wow fadeInUp" data-wow-duration="2s">
				<img src="{{ page.images.baseUrl }}{{ page.images.tablet.filename }}" alt="{{ page.title }}" title="{{ page.title }}" class="drawing__img drawing__img--hidden">
				{% include drawing-tablet.svg %}
			</div>
		</figure>
		<figure>
			<div class="drawing wow fadeInUp" data-wow-duration="2s">
				<img src="{{ page.images.baseUrl }}{{ page.images.mobile.filename }}" alt="{{ page.title }}" title="{{ page.title }}" class="drawing__img drawing__img--hidden">
				{% include drawing-mobile.svg %}
			</div>
		</figure>
	</div>
</article>
<div class="post-nav">
	{% if page.previous.url %}
		<a class="post-nav__link post-nav__link--prev" href="{{ page.previous.url }}">Previous Work</a>
	{% endif %}
	{% if page.next.url %}
		<a class="post-nav__link post-nav__link--next" href="{{ page.next.url }}">Next Work</a>
	{% endif %}
</div>
