.footer {
	@include font-size(20px);
	background: $color-secondary;
	color: $color-primary;
	padding: 100px 60px;

	a {
		color: lighten($color-primary, 4%);
	}
}

.footer__title {
	@include font-size(34px);

	@media screen and (min-width: $mq-medium) {
		@include font-size(40px);
	}
}

.footer__links {
	margin: 25px 0 50px;
	padding-left: 0;

	li {
		display: inline-block;
	}
}
