.hero {
	@extend %flex;
	@extend %flex-center;
	@extend %flex-middle;
	min-height: 100vh;
}

.hero__name {
	@extend %flex;
	@extend %flex-middle;
	background: rgba(lighten($color-primary, 4%), .35);
	line-height: .8;
	margin-top: -180px;
	text-transform: uppercase;

	h1 {
		@include font-size(50px);
	}
}

.hero__name--sub {
	@include font-size(45px);
	display: block;
	font-weight: 400;
	text-align: right;
}

.hero__tag {
	@include font-size(60px);
	color: lighten($color-secondary, 60%);
	margin-left: 3px;
}
