.nav__list {
	@extend %flex;
	list-style: none;
	margin: 0;
	padding-left: 10px;

	@media screen and (min-width: $mq-small) {
		padding-left: 40px;
	}
}

.nav__item {
	margin: 0 20px;
}

.nav__link {
	color: $color-secondary;
	text-decoration: none;
}

.nav__icon {
	float: left;
	margin-left: 11px;

	svg {
		vertical-align: middle;
	}
}

.nav__item--active {
	background: #f00;
}
