$accordion-no-of-items: 5;
$accordion-item-height: 800px;

.accordion {
	background: lighten($color-secondary, 15%);
	margin-top: 20px;
	overflow: hidden;
}

.accordion__list {
	display: table;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	table-layout: fixed;
	width: 100%;
}

.accordion__item {
	display: table;
	position: relative;
	vertical-align: bottom;
	width: 100%;

	@media screen and (min-width: $mq-large) {
		display: table-cell;
		transition: width .5s ease;
		width: 100% / $accordion-no-of-items;
		will-change: width;
	}
}

.accordion__img-wrapper {
	position: absolute;

	img {
		filter: grayscale(50%);
		// transition: filter .5s linear;
		// will-change: filter;

		@media screen and (min-width: $mq-large) {
			filter: grayscale(100%);
		}
	}
}

.accordion__link {
	background: rgba($color-secondary, .68);
	display: block;
	min-height: $accordion-item-height;
	padding: 15px 20px;
	position: relative;
	text-decoration: none;
	z-index: 1;

	h2,
	p {
		color: $color-primary;
		position: relative;
		top: ($accordion-item-height / 4) * 3;
		white-space: nowrap;

		@media screen and (min-width: $mq-large) {
			opacity: 0;
			transform: translate3d(-20px, 0, 0);
			transition: opacity .4s, transform .4s;
		}
	}

	h2 {
		@include font-size(28px);
		position: relative;
		text-overflow: clip;
		transition-delay: .05s;

		&::after {
			background: lighten($color-secondary, 60%);
			bottom: -10px;
			content: '';
			height: 2px;
			left: 0;
			position: absolute;
			width: 70px;
		}
	}

	p {
		@include font-size(18px);
		overflow: hidden;
		text-overflow: ellipsis;
		transition-delay: .2s;
	}
}

//hover
@media screen and (min-width: $mq-large) {
	.accordion__list:hover {
		.accordion__item {
			width: 8%;
		}

		.accordion__item:hover {
			width: 60%;

			// scss-lint:disable NestingDepth, SelectorDepth
			// Can't really see a way to reference the hover states of the 2 accordion elements
			// without having more than 3 nesting levels
			.accordion__link {
				h2,
				p {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}

			.accordion__img {
				filter: grayscale(0%);
			}

			@media screen and (min-width: 1720px) {
				width: 40%;
			}

			@media screen and (min-width: 2000px) {
				width: 25%;
			}
		}
	}
}
