//	Set a rem font size with pixel fallback
//	Usage: @include font-size(14px)
@function calculate-rem($size) {
	$rem-size: $size / $base-font-size;
	@return $rem-size * 1rem;
}

@mixin font-size($size) {
	// scss-lint:disable DuplicateProperty
	font-size: $size;
	font-size: calculate-rem($size);
}

//	Generate a box-shadow color for the box shadow effect of an input element
@function generate-border-shadow-color($input-color) {
	@return lighten(saturate(adjust-hue($input-color, -.2273), 23.6585), 14.9020)
}

//	Set the color of placeholder text in input fields
@mixin set-placeholder-color($color) {
	// scss-lint:disable PseudoElement, VendorPrefix
	::-webkit-input-placeholder { // WebKit, Blink, Edge
	    color: $color;
	}
	:-moz-placeholder { // Mozilla Firefox 4 to 18
	   color: $color;
	   opacity: 1;
	}
	::-moz-placeholder { // Mozilla Firefox 19+
	   color: $color;
	   opacity: 1;
	}
	:-ms-input-placeholder { // Internet Explorer 10-11
	   color: $color;
	}
	:placeholder-shown { // Standard (https://drafts.csswg.org/selectors-4/#placeholder)
	  color: $color;
	}
}

// Modified version of the text-shadow mixin from Compass
@mixin text-shadow($shadow-1 : default) {
  @if $shadow-1 == default {
    $shadow-1: $default-text-shadow-h-offset $default-text-shadow-v-offset $default-text-shadow-blur $default-text-shadow-spread $default-text-shadow-color;
  }
  $shadows-without-spread: join((), (), comma);
  $shadows: join((), (), comma);
  $has-spread: false;

  $shadows-without-spread: append($shadows-without-spread, $shadow-1);
  $shadows: append($shadows, $shadow-1);

  @if $has-spread {
    text-shadow: $shadows-without-spread;
  }
  text-shadow: $shadows;
}

// function to generate a gradient text shadow
@function shadow($s-color, $s-start, $s-width) {
  $output: '';
  $a: $s-start;
  $x: $a;
  $y: $a;
  $i: .0025em;
  $s-size: $s-width + $s-start;
  @while  $x < ($s-size + $i) {
    $output: $output + '#{$x} #{$y} 0 #{$s-color}';
    @if ($s-size + 0) >= $x {
      $output: $output + ', ';
    }
    $y: $y + $i;
    $x: $x + $i;
  }
  @return unquote($output);
}
