// colors
//scss-lint:disable ColorVariable
$color-primary: darken(#fff, 4%); //white
$color-secondary: lighten(#000, 4%); //black

// fonts
$font-primary: 'Cousine', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$base-font-size: 16px;

// media queries breakpoints
$mq-small: 480px;
$mq-medium: 768px;
$mq-large: 1025px;
$mq-xlarge: 1221px;
